
.icon-users:before { content: '\e800'; } /* '' */
.icon-font:before { content: '\e801'; } /* '' */
.icon-laptop:before { content: '\e802'; } /* '' */
.icon-sort-alphabet:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */